[submodule "iac/helm/keda"]
	path = iac/helm/keda
	url = https://github.com/lsc-sde/helm-keda.git
[submodule "iac/helm/nginx"]
	path = iac/helm/nginx
	url = https://github.com/lsc-sde/helm-nginx.git
[submodule "iac/helm/prefect-server"]
	path = iac/helm/prefect-server
	url = https://github.com/lsc-sde/helm-prefect-server.git
[submodule "docker/rstudio-notebook"]
	path = docker/rstudio-notebook
	url = https://github.com/lsc-sde/docker-rstudio-notebook.git
[submodule "docker/datascience-notebook"]
	path = docker/datascience-notebook
	url = https://github.com/lsc-sde/docker-datascience-notebook.git
[submodule "docker/scipy-code-server"]
	path = docker/scipy-code-server
	url = https://github.com/lsc-sde/docker-scipy-code-server.git
[submodule "octave-notebook"]
	url = https://github.com/lsc-sde/docker-octave-notebook.git
[submodule "scipy-code-server"]
	url = https://github.com/lsc-sde/docker-scipy-code-server.git
[submodule "docker/aks-dns-operator"]
	path = docker/aks-dns-operator
	url = https://github.com/lsc-sde/docker-aks-dns-operator.git
[submodule "iac/helm/jupyter"]
	path = iac/helm/jupyter
	url = https://github.com/lsc-sde/helm-jupyter.git
[submodule "iac/flux/keda"]
	path = iac/flux/keda
	url = https://github.com/lsc-sde/iac-flux-keda.git
[submodule "iac/flux/nginx"]
	path = iac/flux/nginx
	url = https://github.com/lsc-sde/iac-flux-nginx.git
[submodule "iac/flux/prefect-server"]
	path = iac/flux/prefect-server
	url = https://github.com/lsc-sde/iac-flux-prefect-server.git
[submodule "iac/flux/certmanager"]
	path = iac/flux/certmanager
	url = https://github.com/lsc-sde/iac-flux-certmanager.git
[submodule "iac/flux/jupyter"]
	path = iac/flux/jupyter
	url = https://github.com/lsc-sde/iac-flux-jupyter.git
[submodule "iac/helm/github-actions-runner"]
	path = iac/helm/github-actions-runner
	url = https://github.com/lsc-sde/iac-helm-github-actions-runner.git
[submodule "iac/flux/github-action-runners"]
	path = iac/flux/github-action-runners
	url = https://github.com/lsc-sde/iac-flux-github-action-runners.git
[submodule "iac/flux/keycloak"]
	path = iac/flux/keycloak
	url = https://github.com/lsc-sde/iac-flux-keycloak.git
[submodule "docker/configmap-transformer-controller"]
	path = docker/configmap-transformer-controller
	url = https://github.com/lsc-sde/docker-configmap-transformer-controller.git
[submodule "iac/flux/lscsde"]
	path = iac/flux/lscsde
	url = https://github.com/lsc-sde/iac-flux-lscsde.git
[submodule "docker/secrets-distributor"]
	path = docker/secrets-distributor
	url = https://github.com/lsc-sde/docker-secrets-distributor.git
[submodule "docker/datascience-notebook-default"]
	path = docker/datascience-notebook-default
	url = https://github.com/lsc-sde/docker-datascience-notebook-default.git
[submodule "iac/helm/guacamole"]
	path = iac/helm/guacamole
	url = https://github.com/lsc-sde/iac-helm-guacamole.git
[submodule "iac/helm/ohsdi"]
	path = iac/helm/ohsdi
	url = https://github.com/lsc-sde/iac-helm-ohdsi.git
[submodule "iac/flux/ohdsi"]
	path = iac/flux/ohdsi
	url = https://github.com/lsc-sde/iac-flux-ohdsi.git
[submodule "docker/ohdsi-webapi"]
	path = docker/ohdsi-webapi
	url = https://github.com/lsc-sde/docker-ohdsi-webapi.git
[submodule "docker/ohdsi-atlas"]
	path = docker/ohdsi-atlas
	url = https://github.com/lsc-sde/docker-ohdsi-atlas.git
[submodule "python-modules/kubespawner-keycloak"]
	path = python-modules/kubespawner-keycloak
	url = https://github.com/lsc-sde/py-kubespawner-keycloak.git
[submodule "docker/jupyterhub"]
	path = docker/jupyterhub
	url = https://github.com/lsc-sde/docker-jupyterhub.git
[submodule "iac/helm/analytics-workspace-management"]
	path = iac/helm/analytics-workspace-management
	url = https://github.com/lsc-sde/iac-helm-analytics-workspace-management.git
[submodule "python-modules/lscsde-workspace-mgmt"]
	path = python-modules/lscsde-workspace-mgmt
	url = https://github.com/lsc-sde/py-lscsde-workspace-mgmt.git
[submodule "iac/flux/analytics-workspace-management"]
	path = iac/flux/analytics-workspace-management
	url = https://github.com/lsc-sde/iac-flux-analytics-workspace-management.git
[submodule "iac/helm/aks-dns-operator"]
	path = iac/helm/aks-dns-operator
	url = https://github.com/lsc-sde/iac-helm-aks-dns-operator.git
[submodule "iac/helm/secrets-distributor"]
	path = iac/helm/secrets-distributor
	url = https://github.com/lsc-sde/iac-helm-secrets-distributor.git
[submodule "iac/helm/configmap-transformer-controller"]
	path = iac/helm/configmap-transformer-controller
	url = https://github.com/lsc-sde/iac-helm-configmap-transformer-controller.git
[submodule "iac/flux/lscsde-components"]
	path = iac/flux/lscsde-components
	url = https://github.com/lsc-sde/iac-flux-lscsde-components.git
[submodule "iac/flux/lscsde-configuration"]
	path = iac/flux/lscsde-configuration
	url = https://github.com/lsc-sde/iac-flux-lscsde-configuration.git
[submodule "docker/ohdsi-hades"]
	path = docker/ohdsi-hades
	url = https://github.com/lsc-sde/docker-ohdsi-hades.git
[submodule "iac/helm/lscsde-flux"]
	path = iac/helm/lscsde-flux
	url = https://github.com/lsc-sde/iac-helm-lscsde-flux.git
[submodule "docker/analytics-vnc-client"]
	path = docker/analytics-vnc-client
	url = https://github.com/lsc-sde/docker-analytics-vnc-client.git
[submodule "docker/analytics-workspace-mgmt"]
	path = docker/analytics-workspace-mgmt
	url = https://github.com/lsc-sde/docker-analytics-workspace-mgmt.git
[submodule "iac/terraform/azure"]
	path = iac/terraform/azure
	url = https://github.com/lsc-sde/iac-terraform-azure.git
