[submodule "iac/k8s"]
	path = iac/k8s
	url = https://github.com/lsc-sde/k8s-iac.git
[submodule "iac/helm/keda"]
	path = iac/helm/keda
	url = https://github.com/lsc-sde/helm-keda.git
[submodule "iac/helm/nginx"]
	path = iac/helm/nginx
	url = https://github.com/lsc-sde/helm-nginx.git
[submodule "iac/helm/prefect-server"]
	path = iac/helm/prefect-server
	url = https://github.com/lsc-sde/helm-prefect-server.git
[submodule "docker/rstudio-notebook"]
	path = docker/rstudio-notebook
	url = https://github.com/lsc-sde/docker-rstudio-notebook.git
[submodule "docker/datascience-odbc"]
	path = docker/datascience-odbc
	url = https://github.com/lsc-sde/docker-datascience-odbc.git
[submodule "docker/datascience-notebook"]
	path = docker/datascience-notebook
	url = https://github.com/lsc-sde/docker-datascience-notebook.git
[submodule "docker/datascience-code-server"]
	path = docker/datascience-code-server
	url = https://github.com/lsc-sde/docker-datascience-code-server.git
[submodule "docker/beamtree-rstudio"]
	path = docker/beamtree-rstudio
	url = https://github.com/lsc-sde/docker-beamtree-rstudio.git
[submodule "docker/datascience-nlp"]
	path = docker/datascience-nlp
	url = https://github.com/lsc-sde/docker-datascience-nlp.git
[submodule "docker/octave-notebook"]
	path = docker/octave-notebook
	url = https://github.com/lsc-sde/docker-octave-notebook.git
[submodule "docker/cpu-dfu"]
	path = docker/cpu-dfu
	url = https://github.com/lsc-sde/docker-cpu-dfu.git
[submodule "docker/dfu-jupyterlab"]
	path = docker/dfu-jupyterlab
	url = https://github.com/lsc-sde/docker-dfu-jupyterlab.git
[submodule "docker/fft-notebook"]
	path = docker/fft-notebook
	url = https://github.com/lsc-sde/docker-fft-notebook.git
[submodule "docker/lancuni-grp-prj-2021-notebook"]
	path = docker/lancuni-grp-prj-2021-notebook
	url = https://github.com/lsc-sde/docker-lancuni-grp-prj-2021-notebook.git
[submodule "docker/scipy-code-server"]
	path = docker/scipy-code-server
	url = https://github.com/lsc-sde/docker-scipy-code-server.git
[submodule "octave-notebook"]
	url = https://github.com/lsc-sde/docker-octave-notebook.git
[submodule "scipy-code-server"]
	url = https://github.com/lsc-sde/docker-scipy-code-server.git
[submodule "docker/aks-dns-operator"]
	path = docker/aks-dns-operator
	url = https://github.com/lsc-sde/docker-aks-dns-operator.git
[submodule "iac/helm/jupyter"]
	path = iac/helm/jupyter
	url = https://github.com/lsc-sde/helm-jupyter.git
[submodule "iac/flux/keda"]
	path = iac/flux/keda
	url = https://github.com/lsc-sde/iac-flux-keda.git
[submodule "iac/flux/nginx"]
	path = iac/flux/nginx
	url = https://github.com/lsc-sde/iac-flux-nginx.git
[submodule "iac/flux/prefect-server"]
	path = iac/flux/prefect-server
	url = https://github.com/lsc-sde/iac-flux-prefect-server.git
[submodule "iac/flux/certmanager"]
	path = iac/flux/certmanager
	url = https://github.com/lsc-sde/iac-flux-certmanager.git
[submodule "iac/flux/jupyter"]
	path = iac/flux/jupyter
	url = https://github.com/lsc-sde/iac-flux-jupyter.git
[submodule "iac/helm/github-actions-runner"]
	path = iac/helm/github-actions-runner
	url = https://github.com/lsc-sde/iac-helm-github-actions-runner.git
[submodule "iac/flux/github-action-runners"]
	path = iac/flux/github-action-runners
	url = https://github.com/lsc-sde/iac-flux-github-action-runners.git
[submodule "iac/flux/keycloak"]
	path = iac/flux/keycloak
	url = https://github.com/lsc-sde/iac-flux-keycloak.git
[submodule "docker/configmap-transformer-controller"]
	path = docker/configmap-transformer-controller
	url = https://github.com/lsc-sde/docker-configmap-transformer-controller.git
[submodule "iac/flux/lscsde"]
	path = iac/flux/lscsde
	url = https://github.com/lsc-sde/iac-flux-lscsde.git
[submodule "docker/secrets-distributor"]
	path = docker/secrets-distributor
	url = https://github.com/lsc-sde/docker-secrets-distributor.git
[submodule "docker/datascience-notebook-default"]
	path = docker/datascience-notebook-default
	url = https://github.com/lsc-sde/docker-datascience-notebook-default.git
