[submodule "iac/helm/keda"]
	path = iac/helm/keda
	url = https://github.com/lsc-sde/helm-keda.git
[submodule "iac/helm/nginx"]
	path = iac/helm/nginx
	url = https://github.com/lsc-sde/helm-nginx.git
[submodule "iac/helm/prefect-server"]
	path = iac/helm/prefect-server
	url = https://github.com/lsc-sde/helm-prefect-server.git
[submodule "docker/aks-dns-operator"]
	path = docker/aks-dns-operator
	url = https://github.com/lsc-sde/docker-aks-dns-operator.git
[submodule "iac/helm/jupyter"]
	path = iac/helm/jupyter
	url = https://github.com/lsc-sde/helm-jupyter.git
[submodule "iac/flux/keda"]
	path = iac/flux/keda
	url = https://github.com/lsc-sde/iac-flux-keda.git
[submodule "iac/flux/nginx"]
	path = iac/flux/nginx
	url = https://github.com/lsc-sde/iac-flux-nginx.git
[submodule "iac/flux/prefect-server"]
	path = iac/flux/prefect-server
	url = https://github.com/lsc-sde/iac-flux-prefect-server.git
[submodule "iac/flux/certmanager"]
	path = iac/flux/certmanager
	url = https://github.com/lsc-sde/iac-flux-certmanager.git
[submodule "iac/flux/jupyter"]
	path = iac/flux/jupyter
	url = https://github.com/lsc-sde/iac-flux-jupyter.git
[submodule "iac/helm/github-actions-runner"]
	path = iac/helm/github-actions-runner
	url = https://github.com/lsc-sde/iac-helm-github-actions-runner.git
[submodule "iac/flux/github-action-runners"]
	path = iac/flux/github-action-runners
	url = https://github.com/lsc-sde/iac-flux-github-action-runners.git
[submodule "docker/configmap-transformer-controller"]
	path = docker/configmap-transformer-controller
	url = https://github.com/lsc-sde/docker-configmap-transformer-controller.git
[submodule "iac/flux/lscsde"]
	path = iac/flux/lscsde
	url = https://github.com/lsc-sde/iac-flux-lscsde.git
[submodule "docker/secrets-distributor"]
	path = docker/secrets-distributor
	url = https://github.com/lsc-sde/docker-secrets-distributor.git
[submodule "docker/datascience-notebook-default"]
	path = docker/datascience-notebook-default
	url = https://github.com/lsc-sde/docker-datascience-notebook-default.git
[submodule "iac/helm/ohsdi"]
	path = iac/helm/ohsdi
	url = https://github.com/lsc-sde/iac-helm-ohdsi.git
[submodule "iac/flux/ohdsi"]
	path = iac/flux/ohdsi
	url = https://github.com/lsc-sde/iac-flux-ohdsi.git
[submodule "docker/ohdsi-webapi"]
	path = docker/ohdsi-webapi
	url = https://github.com/lsc-sde/docker-ohdsi-webapi.git
[submodule "docker/ohdsi-atlas"]
	path = docker/ohdsi-atlas
	url = https://github.com/lsc-sde/docker-ohdsi-atlas.git
[submodule "python-modules/kubespawner-keycloak"]
	path = python-modules/kubespawner-keycloak
	url = https://github.com/lsc-sde/py-kubespawner-keycloak.git
[submodule "docker/jupyterhub"]
	path = docker/jupyterhub
	url = https://github.com/lsc-sde/docker-jupyterhub.git
[submodule "iac/helm/analytics-workspace-management"]
	path = iac/helm/analytics-workspace-management
	url = https://github.com/lsc-sde/iac-helm-analytics-workspace-management.git
[submodule "python-modules/lscsde-workspace-mgmt"]
	path = python-modules/lscsde-workspace-mgmt
	url = https://github.com/lsc-sde/py-lscsde-workspace-mgmt.git
[submodule "iac/flux/analytics-workspace-management"]
	path = iac/flux/analytics-workspace-management
	url = https://github.com/lsc-sde/iac-flux-analytics-workspace-management.git
[submodule "iac/helm/aks-dns-operator"]
	path = iac/helm/aks-dns-operator
	url = https://github.com/lsc-sde/iac-helm-aks-dns-operator.git
[submodule "iac/helm/secrets-distributor"]
	path = iac/helm/secrets-distributor
	url = https://github.com/lsc-sde/iac-helm-secrets-distributor.git
[submodule "iac/helm/configmap-transformer-controller"]
	path = iac/helm/configmap-transformer-controller
	url = https://github.com/lsc-sde/iac-helm-configmap-transformer-controller.git
[submodule "iac/flux/lscsde-components"]
	path = iac/flux/lscsde-components
	url = https://github.com/lsc-sde/iac-flux-lscsde-components.git
[submodule "iac/flux/lscsde-configuration"]
	path = iac/flux/lscsde-configuration
	url = https://github.com/lsc-sde/iac-flux-lscsde-configuration.git
[submodule "docker/ohdsi-hades"]
	path = docker/ohdsi-hades
	url = https://github.com/lsc-sde/docker-ohdsi-hades.git
[submodule "iac/helm/lscsde-flux"]
	path = iac/helm/lscsde-flux
	url = https://github.com/lsc-sde/iac-helm-lscsde-flux.git
[submodule "docker/analytics-vnc-client"]
	path = docker/analytics-vnc-client
	url = https://github.com/lsc-sde/docker-analytics-vnc-client.git
[submodule "docker/analytics-workspace-mgmt"]
	path = docker/analytics-workspace-mgmt
	url = https://github.com/lsc-sde/docker-analytics-workspace-mgmt.git
[submodule "iac/terraform/azure"]
	path = iac/terraform/azure
	url = https://github.com/lsc-sde/iac-terraform-azure.git
[submodule "iac/flux/secrets-distributor"]
	path = iac/flux/secrets-distributor
	url = https://github.com/lsc-sde/iac-flux-secrets-distributor.git
[submodule "iac/helm/lscsde-namespaces"]
	path = iac/helm/lscsde-namespaces
	url = https://github.com/lsc-sde/iac-helm-lscsde-namespaces.git
[submodule "iac/flux/lscsde-namespaces"]
	path = iac/flux/lscsde-namespaces
	url = https://github.com/lsc-sde/iac-flux-lscsde-namespaces.git
[submodule "products/sde/analytics-workspace-management/java/models"]
	path = products/sde/analytics-workspace-management/java/models
	url = https://github.com/lsc-sde/java-analytics-workspace-management-models.git
[submodule "products/sde/analytics-workspace-management/java/k8s-api"]
	path = products/sde/analytics-workspace-management/java/k8s-api
	url = https://github.com/lsc-sde/java-analytics-workspace-management-k8s-api.git
[submodule "products/sde-3rd-party/guacamole/iac-helm-guacamole"]
	path = products/sde-3rd-party/guacamole/iac-helm-guacamole
	url = https://github.com/lsc-sde/iac-helm-guacamole.git
[submodule "products/sde-3rd-party/guacamole/iac-flux-guacamole"]
	path = products/sde-3rd-party/guacamole/iac-flux-guacamole
	url = https://github.com/lsc-sde/iac-flux-guacamole.git
[submodule "products/sde/aks-dns-operator/iac-helm-aks-dns-operator"]
	path = products/sde/aks-dns-operator/iac-helm-aks-dns-operator
	url = https://github.com/lsc-sde/iac-helm-aks-dns-operator.git
[submodule "products/sde/aks-dns-operator/iac-flux-aks-dns-operator"]
	path = products/sde/aks-dns-operator/iac-flux-aks-dns-operator
	url = https://github.com/lsc-sde/iac-flux-aks-dns-operator.git
[submodule "products/sde/aks-dns-operator/docker-aks-dns-operator"]
	path = products/sde/aks-dns-operator/docker-aks-dns-operator
	url = https://github.com/lsc-sde/docker-aks-dns-operator.git
[submodule "products/sde/analytics-workspace-management/iac-flux-workspace-definitions"]
	path = products/sde/analytics-workspace-management/iac-flux-workspace-definitions
	url = https://github.com/lsc-sde/iac-flux-workspace-definitions.git
[submodule "products/sde/analytics-workspace-management/iac-flux-example-workspace-definitions"]
	path = products/sde/analytics-workspace-management/iac-flux-example-workspace-definitions
	url = https://github.com/lsc-sde/iac-flux-example-workspace-definitions.git
[submodule "products/sde/devcontainer-features"]
	path = products/sde/devcontainer-features
	url = https://github.com/lsc-sde/devcontainer-features.git
[submodule "products/sde-3rd-party/superset/docker-apache-superset"]
	path = products/sde-3rd-party/superset/docker-apache-superset
	url = https://github.com/lsc-sde/docker-apache-superset.git
[submodule "products/sde-3rd-party/superset/iac-flux-apache-superset"]
	path = products/sde-3rd-party/superset/iac-flux-apache-superset
	url = https://github.com/lsc-sde/iac-flux-apache-superset.git
[submodule "docker/datascience-jupyter-omop"]
	path = docker/datascience-jupyter-omop
	url = https://github.com/lsc-sde/docker-datascience-jupyter-omop.git
[submodule "iac/flux/iac-flux-observability-metrics"]
	path = iac/flux/iac-flux-observability-metrics
	url = https://github.com/lsc-sde/iac-flux-observability-metrics.git
[submodule "iac/flux/iac-flux-rabbitmq"]
	path = iac/flux/iac-flux-rabbitmq
	url = https://github.com/lsc-sde/iac-flux-rabbitmq.git
[submodule "products/sde-3rd-party/keycloak/awms-keycloak-extensions"]
	path = products/sde-3rd-party/keycloak/awms-keycloak-extensions
	url = https://github.com/lsc-sde/awms-keycloak-extensions.git
[submodule "products/sde/analytics-workspace-management/awms-guacamole-operator"]
	path = products/sde/analytics-workspace-management/awms-guacamole-operator
	url = https://github.com/lsc-sde/awms-guacamole-operator.git
[submodule "products/sde-3rd-party/keycloak/iac-flux-keycloak"]
	path = products/sde-3rd-party/keycloak/iac-flux-keycloak
	url = https://github.com/lsc-sde/iac-flux-keycloak.git
[submodule "docker/dataengineering-sqlmesh-notebook"]
	path = docker/dataengineering-sqlmesh-notebook
	url = https://github.com/lsc-sde/docker-dataengineering-sqlmesh-notebook
[submodule "products/sde/analytics-datasource-management/awms-crate-operator"]
	path = products/sde/analytics-datasource-management/awms-crate-operator
	url = https://github.com/lsc-sde/awms-crate-operator
[submodule "products/sde/analytics-datasource-management/awms-datasource-operator"]
	path = products/sde/analytics-datasource-management/awms-datasource-operator
	url = https://github.com/lsc-sde/awms-datasource-operator.git
[submodule "docker/docker-llm-workspace"]
	path = docker/docker-llm-workspace
	url = https://github.com/lsc-sde/docker-llm-workspace.git
[submodule "products/sde/data-ingestion/cr8tor-publisher"]
	path = products/sde/data-ingestion/cr8tor-publisher
	url = https://github.com/lsc-sde-crates/cr8tor-publisher
[submodule "products/sde/data-ingestion/cr8tor"]
	path = products/sde/data-ingestion/cr8tor
	url = https://github.com/lsc-sde-crates/cr8tor
[submodule "iac/flux/neulander"]
	path = iac/flux/neulander
	url = https://github.com/lsc-sde/iac-flux-neulander/
